# Dependencies
node_modules/
.pnpm-store/

# Vite build output
dist/
dist-ssr/

# Environment files (Secrets)
.env
.env.local
.env.*.local

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Disables / leftovers
.git_disabled/
src/config/kirana-billing-app-96ac5-firebase-adminsdk-fbsvc-9f2138579f.json
*.json